{extend name="base" /}
{block name="head"}
{/block}
{block name="content"}
<div class="layui-card">
    <div class="layui-card-header" style="font-size: 16px">全局设置</div>
    <div class="layui-card-body">
        {volist name="data.list" id="v"}
        <blockquote class="layui-elem-quote">{$key}</blockquote>
        <table class="layui-table">
            <colgroup>
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>参数</th>
                    <th>参数值</th>
                </tr>
            </thead>
            <tbody>
                {volist name=":config('apidoc.header')" id="v1"}
                <tr>
                    <td>{$key}</td>
                    <td><input type="text" id="token" name="title" value="" placeholder="请输入token" autocomplete="off" class="layui-input"></td>
                </tr>
                {/volist}
            </tbody>
        </table>
        {/volist}
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-sm" id="save_info">保存</button>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
layui.use(function() {
    var $ = layui.jquery;
    if (layui.data('header')['token']) {
        $('#token').val(layui.data('header')['token']);
    }
    $('#save_info').click(function(e) {
        layui.data('header', {
            key: 'token',
            value: $('#token').val()
        });
        layer.msg('保存成功', {
            icon: 6,
            time: 1000
        });
    });
});
</script>
{/block}